#title {
  text-align: center;
  font-size: 600%;
  margin-block-start: 0.6em;
}

.auth-container {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  background-color: white;
  width: 400px;
  height: 400px;
  margin: auto;
  border: 3px solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank {
  margin-left: 1%;
  margin-right: 1%;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button, .register-button, .google-button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.login-button:hover, .register-button:hover, .google-button:hover {
  color: red;
}