.title {
  text-align: center;
  font-size: 400%;
}

#firstTitle {
  margin-top: 3rem;
}

#lastTitle {
  margin-bottom: 3rem;
}

#maindiv {
  color: white;
}

.auth-container {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 350px);
  background-color: black;
  margin: auto;
  border: 3px solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.switch {
  position: absolute;
  top: calc(90%);
  left: calc(50% - 350px);
  background-color: black;
  margin: auto;
  border: 3px solid;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 700px;
}

.formField {
  width: 400px;
  margin: 2rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}

.button-container {
  text-align: center;
}

label {
  margin-left: 2.5rem;
}

.blank {
  margin-left: 1%;
  margin-right: 1%;
}

input[type=text], input[type=password] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button, .register-button, .google-button {
  background-color: black;
  color: white;
  padding: 7px 40px;
  margin: 8px 0;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 200%;
}

.google-button {
  margin-bottom: 2rem;
}

.separator {
  display: flex;
  align-items: center;
}

hr {
  border-top: 1px solid white;
  width: 100%;
  margin: 2rem;
}

.login-button:hover, .register-button:hover, .google-button:hover {
  background-color: white;
  color: black; 
}

.link {
  color: #f1f1f1;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid;
}