.widget {
  width: 400px;
  height: 200px;
  border: 3px solid;
  border-radius: 25px;
  background: black;
  color: white;
  padding: 15px;
}

.widgetReaction {
  width: 400px;
  border: 3px solid;
  border-radius: 25px;
  background: black;
  color: white;
  padding: 15px;
}

.oauth-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  margin: 0px;
}

.serviceWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

.button {
  background-color: white;
  color: black;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  border: 3px solid;
  border-radius: 15px;
}
  
.button:hover {
color: red;
}

.littleButton {
  background-color: white;
  color: black;
  padding: 7px 10px;
  margin: 8px 0;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border: 3px solid;
  border-radius: 15px;
}

.littleButton:hover {
color: red;
}

.scrollable {
  height: 250px;
  overflow: auto;
}

.largeMarginRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin {
  margin-left: 20px;
}